<main [style]="{'background-image':'url(\'../../../assets/img/fondoVioletaMovimiento.svg\')'}">

    <div class="portadaFotos d-flex flex-wrap">
         <picture>
            <img class="fotoPortada border-end border-bottom position-top" id="fotoPortada_1" data-aos="fade-up" data-aos-delay="300" src="../../../assets/img/foto_portada_1.png" alt="Bacha para lavar el pelo y productos">
        </picture>
        <picture>
            <img class="fotoPortada border-start border-end border-bottom" id="fotoPortada_2" data-aos="fade-up" data-aos-delay="500" src="../../../assets/img/foto_portada_2.png" alt="Silla de peluqueria con espejo e instrumentos">
        </picture>
        <picture>
            <img class="fotoPortada border-start border-bottom" id="fotoPortada_3" data-aos="fade-up" data-aos-delay="700" src="../../../assets/img/foto_portada_3.png" alt="Mueble de maquillaje">
        </picture>
    </div>

    <div [style]="{'background-color':config.backgroundTransparent}" class="menuContacto py-4 px-2 px-lg-5 d-flex justify-content-between align-items-center flex-wrap border-top">
        
        <h2 class="pt-3">
            ✨ <span>Verse Bien Para Sentirse Bien</span> ✨
        </h2>

        <div class="d-flex justify-content-end align-items-center flex-wrap pb-4 pb-md-0">
            <a class="d-flex justify-content-center align-items-center button m-auto me-md-3 mt-md-0 bg-light activeLinkVioletDark" [style]="{'box-shadow':'0px 0px 10px ' + config.baseColorDark}" href="https://www.instagram.com/feminebeautysalon/" target="_blank">
                <img src="../../../assets/img/instagram.svg" alt="Instagram" width="35px" class="me-2">
                Instagram
            </a>
    
            <a class="d-flex justify-content-center align-items-center button m-auto me-md-3 mt-2 mt-md-0 bg-light activeLinkVioletDark" [style]="{'background-color':config.baseColorDark,'box-shadow':'0px 0px 10px ' + config.baseColorDark}" href="https://wa.me/+59899900913" target="_blank">
                <img src="../../../assets/img/whatsapp.svg" alt="Whatsapp" width="35px" class="me-2">
                Whatsapp
            </a>
    
            <a class="d-flex justify-content-center align-items-center m-auto m-md-0 mt-2 mt-md-0 button bg-light activeLinkVioletDark" [style]="{'background-color':config.baseColorDark,'box-shadow':'0px 0px 10px ' + config.baseColorDark}" href="https://maps.app.goo.gl/JacpTi91K16J6JCi8" target="_blank">
                <img src="../../../assets/img/maps.svg" alt="Ubicación" width="35px" class="me-2">
                Como llegar
            </a>
        </div>

    </div>


    <div class="row p-2 p-md-5 mt-3 mt-md-0">

        <section class="col col-12 col-md-6 col-lg-7">

            <article class="bg-light shadow rounded p-4" [style]="{'border':'4px dashed ' + config.baseColorLight}">
                <h2>¿Quién soy?</h2>
                <p>
                    Mi nombre es Geraldine, me recibí en 2022 de peluquera/maquilladora y en marzo de 2023 tuve la linda oportunidad de poder abrir mi salón, estoy feliz de mostrarles mis trabajos y logros para que puedan ser parte de este proceso. Son bienvenida/os a darse un mimo 💗
                </p>
            </article>

            <article class="bg-light shadow rounded p-4 mt-4" [style]="{'border':'4px dashed ' + config.baseColorLight}">
                <h2>Me preocupo por tí 🥰</h2>
                <p>
                    En mi peluquería, me preocupo por tu comodidad y satisfacción. Te ofrecezco un ambiente acogedor y relajante donde puedes disfrutar de un momento de mimos y cuidado personal.
                </p>
            </article>

            <article class="shadow rounded p-4 mt-4 fondoServicios">
                <h2 class="text-light">Servicios</h2>

                <div class="row">

                    <div class="col col-12 col-lg-6 bg-light shadow rounded p-4 m-auto mt-3 cardServicio">
                        <h3>Tintas</h3>
                        <img src="../../../assets/img/servicios/servicio_tinta.png" alt="">
                    </div>
                    
                    <div class="col col-12 col-lg-6 bg-light shadow rounded p-4 m-auto mt-3 cardServicio">
                        <h3>Colores</h3>
                        <img src="../../../assets/img/servicios/servicio_color.png" alt="">
                    </div>

                    <div class="col col-12 col-lg-6 bg-light shadow rounded p-4 m-auto mt-3 cardServicio">
                        <h3>Cortes de pelo mujer</h3>
                        <img src="../../../assets/img/servicios/servicio_corte_mujer.png" alt="">
                    </div>
    
                    <div class="col col-12 col-lg-6 bg-light shadow rounded p-4 m-auto mt-3 cardServicio">
                        <h3>Cortes de pelo hombre</h3>
                        <img src="../../../assets/img/servicios/servicio_corte_hombre.png" alt="">
                    </div>

                    <div class="col col-12 col-lg-6 bg-light shadow rounded p-4 m-auto mt-3 cardServicio">
                        <h3>Peinados</h3>
                        <img src="../../../assets/img/servicios/servicio_peinado.jpg" alt="">
                    </div>
    
                    <div class="col col-12 col-lg-6 bg-light shadow rounded p-4 m-auto mt-3 cardServicio">
                        <h3>Trenzas cocidas</h3>
                        <img src="../../../assets/img/servicios/servicio_trenza.png" alt="">
                    </div>
    
                    <div class="col col-12 col-lg-6 bg-light shadow rounded p-4 m-auto mt-3 cardServicio">
                        <h3>Alisados</h3>
                        <img src="../../../assets/img/servicios/servicio_alisado.png" alt="">
                    </div>

                    <div class="col col-12 col-lg-6 bg-light shadow rounded p-4 m-auto mt-3 cardServicio">
                        <h3>Hidratacion</h3>
                        <div id="carouselServicioHidratacion" class="carousel slide" data-bs-ride="true">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselServicioHidratacion" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselServicioHidratacion" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            </div>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100" src="../../../assets/img/servicios/servicio_hidratacion_1.png" alt="">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="../../../assets/img/servicios/servicio_hidratacion_2.png" alt="">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselServicioHidratacion" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselServicioHidratacion" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>

                    </div>
    
                    <div class="col col-12 col-lg-6 bg-light shadow rounded p-4 m-auto mt-3 cardServicio">
                        <h3>Maquillaje</h3>
                        <img src="../../../assets/img/servicios/servicio_maquillaje.png" alt="">
                    </div>

                    <div class="col col-12 col-lg-6 bg-light shadow rounded p-4 m-auto mt-3 cardServicio">
                        <h3>Balayage</h3>
                        <img src="../../../assets/img/servicios/servicio_balayage.png" alt="">
                    </div>

                </div>
            
            </article>
    
        </section>
    
    
        <aside class="col col-12 col-md-6 col-lg-5 mt-4 mt-md-0">

            <article class="bg-light shadow rounded p-4" [style]="{'border':'4px dashed ' + config.baseColorLight}">
                <h2>Métodos de Pago</h2>
                <p>
                    <img src="../../../assets/img/pago-efectivo.svg" alt="Dinero efectivo" width="50px" class="me-2">
                    Efectivo
                </p>
                <p>
                    <img src="../../../assets/img/pago-transferencia.svg" alt="Transferencia Bancaria" width="50px" class="me-2">
                    Transferencia Bancaria
                </p>
                <p>
                    <img src="../../../assets/img/pago-tarjeta.svg" alt="Transferencia Bancaria" width="50px" class="me-2">
                    Débito y Crédito
                </p>
            </article>

            <article class="bg-light shadow rounded p-4 mt-4" [style]="{'border':'4px dashed ' + config.baseColorLight}">
                <h2>¿Dónde me encuentro?</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3406.6674066610985!2d-57.97284652421337!3d-31.3681559939217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95adc2dd75530469%3A0xd15e1a20c6ee6f49!2sDr.%20Chiazzaro%201888%2C%2050000%20Salto%2C%20Departamento%20de%20Salto!5e0!3m2!1ses-419!2suy!4v1702690700245!5m2!1ses-419!2suy" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="row mt-2">
                    <span class="col col-12 col-md-8">Chiazzaro 1888. Departamento de Salto, Uruguay</span>
                    <a class="col col-12 col-md-4 d-flex justify-content-center align-items-center button mt-2 mt-md-0 text-light py-2" [style]="{'background-color':config.baseColorDark,'box-shadow':'0px 0px 10px ' + config.baseColorDark}" href="https://maps.app.goo.gl/JacpTi91K16J6JCi8" target="_blank">Como llegar</a>
                </div>
            </article>

            <article class="bg-light shadow rounded p-4 mt-4" [style]="{'border':'4px dashed ' + config.baseColorLight}">
                <h2>Información General</h2>
                <p class="d-flex align-items-center">
                    <img src="../../../assets/img/info-calendar.svg" alt="Horario" width="40px" class="me-2">
                    <span class="me-2">Trabajamos por agenda. <a href="https://wa.me/+59899900913" class="text-dark" target="_blank">Pedí tu reserva aquí</a></span>
                </p>
                <p class="d-flex align-items-center">
                    <img src="../../../assets/img/info-time.svg" alt="Horario" width="40px" class="me-2">
                    <span class="me-2">Horarios:</span>
                    <span class="text-secondary">09:00 - 12:00 y 17:00 - 20:00</span>
                </p>
                <p class="d-flex align-items-center">
                    <img src="../../../assets/img/info-phone.svg" alt="Teléfono" width="40px" class="me-2">
                    <span class="me-2">Teléfono:</span>
                    <span class="text-secondary"><a class="text-secondary text-decoration-none" href="https://wa.me/+59899900913" target="_blank">099 900 913</a></span>
                </p>
                <p class="d-flex align-items-center">
                    <img src="../../../assets/img/instagram.svg" alt="Teléfono" width="35px" class="me-2">
                    <span class="me-2">Instagram:</span>
                    <span><a class="text-secondary text-decoration-none" href="https://www.instagram.com/feminebeautysalon/" target="_blank">@feminebeautysalon</a></span>
                </p>
            </article>

            <article *ngIf="count_cards > 0" class="bg-light shadow rounded p-4 mt-4" [style]="{'border':'4px dashed ' + config.baseColorLight}">
                <div class="d-flex justify-content-between">
                    <h2 class="pb-0">Beneficios Disponibles</h2>
                    <a *ngIf="config.userRol === 'USER'" href="/tarjetas" class="fw-bold activeLinkVioletDark pt-2">Mis Tarjetas</a>
                </div>
                <div class="container-card w-100 mt-4" *ngFor="let card of cards;let position_card=index">
                    <div class="title-card px-4 pb-1 pt-3 d-flex justify-content-between">
                        <p class="fs-5 fw-bold"><i class="bi bi-award"></i> {{card.title}}</p>
                    </div>
                    <div class="p-4">
                        <p class="congratulations-card fs-5">¡ Gracias <span class="d-inline-block border-bottom w-75 ms-2 ps-2"></span></p>
                        <p class="text-end congratulations-card fs-5">por confiar en nuestro trabajo !</p>
                        <div class="d-flex align-items-center justify-content-between gap-2 flex-wrap py-1 mb-3 mt-3">
                            <span *ngFor="let num of number_stars[position_card];let position=index" class="marked-star"></span>
                        </div>
                        <p class="description-card fw-bold">{{card.desc}}</p>
                        <small class="description-card mt-4 text-uppercase d-block text-center">{{ 'Tarjeta válida por ' + card.duration + ' días desde' }}<span class="ms-4 me-3">/</span><span class="mx-3">/</span></small>
                    </div>
                </div>
            </article>
        </aside>

    </div>


    <div id="carouselPortada" class="carousel carousel-portada slide d-none" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button id="indicadorPortada1" type="button" data-bs-target="#carouselPortada" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button id="indicadorPortada2" type="button" data-bs-target="#carouselPortada" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button id="indicadorPortada3" type="button" data-bs-target="#carouselPortada" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div id="imgCarouselPortada1" class="carousel-item active">
                <div class="contenedorImg">
                    <span class="btnClose closePortada"><img src="../../../assets/img/close.png" style="filter: drop-shadow(0px 0px 1px #fff);" matTooltip="Cerrar" alt="Close"></span>
                    <img src="../../../assets/img/foto_portada_1.png" class="d-block" alt="Bacha para lavar el pelo y productos">
                </div>
            </div>
            <div id="imgCarouselPortada2" class="carousel-item">
                <div class="contenedorImg">
                    <span class="btnClose closePortada"><img src="../../../assets/img/close.png" style="filter: drop-shadow(0px 0px 1px #fff);" matTooltip="Cerrar" alt="Close"></span>
                    <img src="../../../assets/img/foto_portada_2.png" class="d-block" alt="Silla de peluqueria con espejo e instrumentos">
                </div>
            </div>
            <div id="imgCarouselPortada3" class="carousel-item">
                <div class="contenedorImg">
                    <span class="btnClose closePortada"><img src="../../../assets/img/close.png" style="filter: drop-shadow(0px 0px 1px #fff);" matTooltip="Cerrar" alt="Close"></span>
                    <img src="../../../assets/img/foto_portada_3.png" class="d-block" alt="Mueble de maquillaje">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortada" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselPortada" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    

</main>
