<main [style]="{'background-image':'url(\'../../../assets/img/fondoVioletaMovimiento.svg\')'}">


    <section class="shadow mx-4 bg-light rounded overflow-hidden">

        <h1 class="mb-4 py-3 ps-4 fs-2 text-light" [style]="{'background-color':config.backgroundTitle,'border-bottom':'5px solid '+config.baseColorDark}"><a routerLink="/admin" [style]="{'color':config.baseColorLight}">Administración</a> / Gestión de Tarjetas</h1>


        <div class="row pb-5">

            <div class="col col-12">

                <a id="elementoCrearTarjeta" [ngClass]="{'w-75' : window_width < 700,'w-50' : window_width > 700}" class="adminOption d-block text-center my-4 py-4 text-decoration-none m-auto fs-2 {{config.textColorClass}}" routerLink="/admin/crear-tarjeta" [style]="{'background-color':config.baseColorLight,'box-shadow':'0px 0px 10px ' + config.baseColorLight}" #elementoCrearTarjeta (mouseenter)="adminOptionHover(elementoCrearTarjeta.id)" (mouseleave)="adminOptionLeave(elementoCrearTarjeta.id)">Crear Tarjeta</a>

                <br>

                <div class="w-100 px-2 px-md-5 m-auto">
                    <table id="tablaGestionTarjetas" class="table table-striped table-secondary shadow display nowrap responsive w-100" [ngClass]="{'table-default' : config.colors == 'violet','table-secondary' : config.colors == 'dark'}">
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th *ngIf="window_width > 700">Descripción</th>
                                <th *ngIf="window_width > 700">Tipo</th>
                                <th *ngIf="window_width > 700">Días de Duración</th>
                                <th *ngIf="window_width > 700">Estrellas</th>
                                <th style="width: 120px" *ngIf="window_width > 700"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="cardsCount == -1">
                                <td colspan="5" class="text-center">Cargando <img src="../../../assets/img/loader_violet.svg" alt="Loader" width="32px"></td>
                            </tr>

                            <tr *ngIf="cardsCount == 0">
                                <td colspan="5" class="text-center">No se han encontrado resultados.</td>
                            </tr>

                            <tr class="dtr-control" *ngFor="let card of cards">
                                <td *ngIf="window_width < 700" (click)="mobileActionCard(card.id,card.title,card.desc,card.duration,card.stars,card.type)">{{card.title + ' (' + firstLetter(card.type) + ')'}}</td>
                                <td *ngIf="window_width > 700">{{card.title}}</td>
                                <td *ngIf="window_width > 700">{{card.desc}}</td>
                                <td *ngIf="window_width > 700">{{card.type}}</td>
                                <td *ngIf="window_width > 700">{{card.duration}}</td>
                                <td *ngIf="window_width > 700">{{card.stars}}</td>
                                <td *ngIf="window_width > 700">
                                    <i (click)="editCard(card.id,card.title,card.desc,card.duration,card.stars,card.type)" role="button" class="bi bi-pencil-square fs-4 me-3"></i>
                                    <i (click)="deleteCard(card.id,card.title)" role="button" class="bi bi-trash fs-4"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

        

    </section>



    <div *ngIf="config.userRol != 'ADMIN'">
        <h1>No tienes permisos para acceder a esta página.</h1>
    </div>

</main>
