<main [style]="{'background-image':'url(\'../../../assets/img/fondoVioletaMovimiento.svg\')'}">


    <section *ngIf="config.userRol == 'ADMIN'" class="shadow mx-4 bg-light rounded overflow-hidden">

        <h1 class="mb-4 py-3 ps-2 ps-md-4 fs-1 text-light" [style]="{'background-color':config.backgroundTitle,'border-bottom':'5px solid '+config.baseColorDark}">Panel de administración</h1>


        <div class="row">

            <!-- Opciones del administrador -->
            <div class="col col-12 col-md-6 px-4 px-md-0">
                <a id="elementoClientes" [style]="{'background-color':config.baseColorLight,'box-shadow':'0px 0px 10px ' + config.baseColorLight}" #elementoClientes (mouseenter)="adminOptionHover(elementoClientes.id)" (mouseleave)="adminOptionLeave(elementoClientes.id)" routerLink="/admin/gestion-clientes" class="adminOption d-block text-center my-4 py-4 text-decoration-none m-auto fs-2 {{config.textColorClass}}">Gestionar Clientes</a>
                <a id="elementoTarjetas" [style]="{'background-color':config.baseColorLight,'box-shadow':'0px 0px 10px ' + config.baseColorLight}" #elementoTarjetas (mouseenter)="adminOptionHover(elementoTarjetas.id)" (mouseleave)="adminOptionLeave(elementoTarjetas.id)" routerLink="/admin/gestion-tarjetas" class="adminOption d-block text-center my-4 py-4 text-decoration-none m-auto fs-2 {{config.textColorClass}}">Gestionar Tarjetas</a>
            </div>

            <div class="col col-12 col-md-6">
                <img src="../../../assets/img/admin_violet.svg" data-aos="zoom-out-up" data-aos-delay="300" class="d-block" alt="Ilustracion de Administración">
            </div>

        </div>        

    </section>



    <div *ngIf="config.userRol != 'ADMIN'">
        <section class="overflow-hidden rounded mx-1 mx-md-5">
            <h1 class="py-4 text-light d-flex justify-content-center position-relative mb-0 px-3" [style]="{'background-color':config.backgroundTitle,'border-bottom':'5px solid '+config.baseColorDark}"><span routerLink="/inicio" [ngClass]="{'span-circle me-2':window_width < 450, 'arrowBack pt-4 ps-3 pt-md-0 ps-md-0 pb-md-4' : window_width > 450}" matTooltip="Volver" role="button">⤶</span> SITIO WEB NO DISPONIBLE</h1>
            <div class="overflow-hidden rounded">
                <div [style]="{'background-color':config.backgroundLightTransparent}" class="d-flex gap-3 flex-column justify-content-center align-items-center py-5 px-3">
                    <h2 class="activeLinkVioletDark">No tienes permisos para acceder a esta página.</h2>
                    <img id="error-404-img" src="../../../assets/img/error_401.svg" data-aos="zoom-out-up" alt="Error 404">
                </div>
            </div>
        </section>
    </div>

</main>