.menu-activador {
    width: 30px;
    height: 20px;
    #lanzador {
      position: absolute;
      left: -9999px;
    }
    label {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;  
      cursor: pointer;
    }
    .menu-activador-linea {
      height: 2px;
      background-color: #000;
      opacity: 1;
      transform: translateY(0) rotate(0);
      transition: all 0.3s;
    }
    #lanzador:checked ~ label .menu-activador-linea {
      &:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-9px)rotate(-45deg);
      }
    }
  }

  #logo-app{
    animation-name: logo-app;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes logo-app {
    0%{
        filter: drop-shadow(0 0 0px var(--violet-dark));
    }
    50%{
        filter: drop-shadow(0 0 15px var(--violet-dark));
    }
    100%{
        filter: drop-shadow(0 0 0px var(--violet-dark));
    }
}