<main [style]="{'background-image':'url(\'../../../assets/img/fondoVioletaMovimiento.svg\')'}">

    <section *ngIf="config.userRol == 'ADMIN'" class="px-2 px-md-4">

        <div class="overflow-hidden rounded">
            <div [style]="{'background-color':config.backgroundTitle,'border-bottom':'5px solid '+config.baseColorDark}" class="p-3 pb-2 p-md-4 pb-md-2 text-light d-flex justify-content-between flex-wrap">
                <p class="fw-bold d-flex align-items-center"><span routerLink="/admin/gestion-clientes" class="span-circle me-2" matTooltip="Volver" role="button">⤶</span> {{client.name + ((client.subname !== '') ? ' ' + client.subname : '')}}</p>
                <span class="mt-2 ms-auto ms-md-0">
                    <i role="button" (click)="editUser(client.id)" matTooltip="Editar" class="bi bi-pencil-square fs-4 me-3"></i>
                    <i role="button" (click)="changeStateUser(client.id,0)" matTooltip="Eliminar Cliente" class="bi bi-trash fs-4 me-3"></i>
                    <i role="button" (click)="assignCard(client.id)" matTooltip="Vincular Tarjeta" class="bi bi-journal-plus fs-4 me-3"></i>
                </span>
            </div>
            <div [style]="{'background-color':config.backgroundLightTransparent}" class="py-4">
                <div  [ngClass]="{'w-100' : window_width < 700,'w-75' : window_width > 700}" class="d-flex flex-wrap gap-5 m-auto pt-3">
                    <h2 *ngIf="count_cards == 0" class="activeLinkVioletDark w-100 text-center">Aún no se han vinculado tarjetas a este cliente.</h2>
                    <!-- Lógica cards -->
                    <div class="container-card position-relative" id="card_{{card.id_assigned}}" *ngFor="let card of cards;let position_card=index">
                        <div class="title-card px-4 pb-1 pt-3 d-flex justify-content-between">
                            <p id="title_card_{{card.id_assigned}}" *ngIf="card.type == 'Estandar' || card.type == 'Objetivo'" [ngClass]="{'fs-6': window_width < 700, 'fs-5': window_width > 700}" class="fw-bold w-75"><i class="bi bi-award"></i> {{card.title}}</p>
                            <p id="title_card_{{card.id_assigned}}" *ngIf="card.type == 'Giftcard'" [ngClass]="{'fs-6': window_width < 700, 'fs-5': window_width > 700}" class="fw-bold w-75"><i class="bi bi-gift"></i> GIFT CARD</p>
                            <div id="action_card_{{card.id_assigned}}" class="w-25 d-flex gap-2 justify-content-end">
                                <i id="used_card_{{card.id_assigned}}" (click)="giftcardUsed(card.id_assigned)" *ngIf="card.type == 'Giftcard' && card.status_giftcard == 0" role="button" matTooltip="Giftcard Utilizado" [ngClass]="{'fs-5': window_width < 700, 'fs-4': window_width > 700}" class="bi bi-check2-circle golden-icon-card"></i>
                                <i id="download_card_{{card.id_assigned}}" (click)="downloadImage(card.id_assigned)" role="button" matTooltip="Descargar" [ngClass]="{'fs-5': window_width < 700, 'fs-4': window_width > 700}" class="bi bi-cloud-arrow-down golden-icon-card"></i>
                                <i id="delete_card_{{card.id_assigned}}" (click)="deleteCardAssigned(card.id_assigned,card.title)" role="button" matTooltip="Eliminar Tarjeta Vinculada" [ngClass]="{'fs-5': window_width < 700, 'fs-4': window_width > 700}" class="bi bi-trash delete-card"></i>
                            </div>
                        </div>
                        <div class="p-4">
                            <p *ngIf="card.type == 'Estandar' || card.type == 'Objetivo'" class="congratulations-card fs-4">Gracias <span class="border-bottom ms-2 px-2 fs-6">{{name_capitalize}}</span></p>
                            <p *ngIf="card.type == 'Estandar' || card.type == 'Objetivo'" class="text-end congratulations-card fs-5">por confiar en nuestro trabajo.</p>
                            <p *ngIf="card.type == 'Giftcard'" [ngClass]="{'fs-5': window_width < 700, 'fs-4': window_width > 700}" class="congratulations-card text-center mb-4">Que disfrutes tu regalo, te quiero mucho!</p>
                            <div *ngIf="card.type == 'Estandar' || card.type == 'Objetivo'" class="d-flex align-items-center gap-3 flex-wrap py-1 mb-3 m-auto">
                                <span *ngFor="let num of number_stars[position_card];let position=index" (click)="updateStars(card.id_assigned,position_card,(position + 1))" [attr.data-card]="position_card" [attr.data-card-assigned]="card.id_assigned" [attr.data-value]="position + 1" [ngClass]="{'unmarked-star': (card.type == 'Objetivo' && (position + 1) < card.stars && (position + 1) > card.marked_stars) || (card.type != 'Objetivo' && (position + 1) > card.marked_stars),'marked-star': (position + 1) <= card.marked_stars, 'gray-star' : card.type == 'Objetivo' && (position + 1) == card.stars && (position + 1) != card.marked_stars, 'violet-star': card.type == 'Objetivo'  && (position + 1) == card.marked_stars && (position + 1) == card.stars}">{{ (((card.type == 'Objetivo' && (position + 1) < card.stars && (position + 1) > card.marked_stars) || (card.type != 'Objetivo' && (position + 1) > card.marked_stars) ) ? position + 1 : '') }}</span>
                            </div>
                            <p *ngIf="card.type == 'Estandar' || card.type == 'Objetivo'" [ngClass]="{'fs-md': window_width < 700}" class="description-card fw-bold">{{card.desc}}</p>
                            <div *ngIf="card.type == 'Giftcard'" class="d-flex justify-content-center align-items-center gap-3 pb-4 pt-3">
                                <span [ngClass]="{'fs-sm': window_width < 700}" class="fw-bold description-card w-25">VALE POR:</span>
                                <div class="d-flex gap-2 align-items-center w-75 position-relative">
                                    <input [ngClass]="{'fs-md': window_width < 700}" [id]="'vale_giftcard_'+card.id_assigned" class="rounded-pill w-100 p-3 border-none button-card pe-5" type="text" placeholder="Escribe aquí..." value="{{card.message_giftcard}}">
                                    <i id="pencil_{{card.id_assigned}}" role="button" matTooltip="Guardar" [ngClass]="{'fs-5': window_width < 700, 'fs-4': window_width > 700}" class="bi bi-pencil golden-icon-card position-absolute end-0 me-3" (click)="updateGiftCard(card.id_assigned)"></i>
                                </div>
                            </div>
                            <div *ngIf="card.type == 'Giftcard'" class="d-flex justify-content-center align-items-center gap-3">
                                <span [ngClass]="{'fs-sm': window_width < 700}" class="fw-bold description-card w-25">DE PARTE DE:</span>
                                <span [ngClass]="{'fs-md': window_width < 700}" class="bg-white rounded-pill p-3 w-75">{{name_capitalize}}</span>
                            </div>
                            <small *ngIf="card.type == 'Estandar' || card.type == 'Objetivo'" class="description-card mt-4 text-uppercase d-block text-center">{{ 'Tarjeta válida por ' + card.duration + ' días desde ' + card.date_create }}</small>
                            <small *ngIf="card.type == 'Giftcard'" class="description-card mt-4 text-uppercase d-block text-center" [ngClass]="{'fw-bold': card.status_giftcard == 1}">{{ (card.status_giftcard == 0) ? 'Válido hasta el ' + card.date_valide : 'Giftcard Utilizado' }}</small>
                        </div>
                        <img id="water_mark_{{card.id_assigned}}" src="../../../assets/img/femine.png" alt="Logo" class="water-mark">
                    </div>
                    <!-- Fin lógica cards -->
                </div>
            </div>
        </div>

    </section>

    <div *ngIf="config.userRol != 'ADMIN'">
        <section class="overflow-hidden rounded mx-1 mx-md-5">
            <h1 class="py-4 text-light d-flex justify-content-center position-relative mb-0 px-3" [style]="{'background-color':config.backgroundTitle,'border-bottom':'5px solid '+config.baseColorDark}"><span routerLink="/inicio" [ngClass]="{'span-circle me-2':window_width < 450, 'arrowBack pt-4 ps-3 pt-md-0 ps-md-0 pb-md-4' : window_width > 450}" matTooltip="Volver" role="button">⤶</span> SITIO WEB NO DISPONIBLE</h1>
            <div class="overflow-hidden rounded">
                <div [style]="{'background-color':config.backgroundLightTransparent}" class="d-flex gap-3 flex-column justify-content-center align-items-center py-5 px-3">
                    <h2 class="activeLinkVioletDark">No tienes permisos para acceder a esta página.</h2>
                    <img id="error-404-img" src="../../../assets/img/error_401.svg" data-aos="zoom-out-up" alt="Error 404">
                </div>
            </div>
        </section>
    </div>

</main>