<main [style]="{'background-image':'url(\'../../../assets/img/fondoVioletaMovimiento.svg\')'}">

    <section *ngIf="config.userRol == 'ADMIN'" class="row px-4">

        <div class="col col-12 col-sm-3 col-lg-4"></div>

        <form class="col col-12 col-sm-6 col-lg-4 py-5 px-3 px-md-5 rounded shadow position-relative" [style]="{'background-color':config.backgroundLightTransparent}" #formCard="ngForm" (ngSubmit)="create(formCard)">
            
            <span routerLink="/admin/gestion-tarjetas" class="arrowBack" matTooltip="Volver" matTooltipPosition="left" [style]="{'background-color':config.baseColorLight}">⤶</span>

            <h1 class="text-center mb-4">Crear Tarjeta</h1>

            <mat-form-field appearance="outline" class="w-100 mb-2" color="primary">
                <mat-label [ngClass]="config.textColorClass">Tipo</mat-label>
                <select [ngClass]="config.textColorClass" matNativeControl required name="type" #type="ngModel" [(ngModel)]="card.type" id="tipoSelect">
                    <option selected value="Estandar">Estandar</option>
                    <option value="Objetivo">Objetivo</option>
                    <option value="Giftcard">Giftcard</option>
                </select>
                <mat-error *ngIf="!formCard.form.valid">El tipo es obligatorio.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 mb-2" color="primary">
                <mat-label [ngClass]="config.textColorClass">Título</mat-label>
                <input type="text" name="title" #title="ngModel" autocomplete="off" matInput [ngClass]="config.textColorClass" required [(ngModel)]="card.title" id="tituloInput">
                <mat-error *ngIf="!formCard.form.valid">El título es obligatorio.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 mb-2" color="primary" id="descCard">
                <mat-label [ngClass]="config.textColorClass">Descripción</mat-label>
                <input type="text" name="desc" #desc="ngModel" autocomplete="off" matInput [ngClass]="config.textColorClass" [(ngModel)]="card.desc">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 mb-2" color="primary" id="durationCard">
                <mat-label [ngClass]="config.textColorClass">Días de Duración</mat-label>
                <input type="number" name="duration" #duration="ngModel" autocomplete="off" matInput [ngClass]="config.textColorClass" required [(ngModel)]="card.duration">
                <mat-error *ngIf="!formCard.form.valid">Los días de duración es obligatorio.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 mb-2" color="primary" id="starCard">
                <mat-label [ngClass]="config.textColorClass">Estrellas</mat-label>
                <input type="number" name="stars" #stars="ngModel" autocomplete="off" matInput [ngClass]="config.textColorClass" required [(ngModel)]="card.stars">
                <mat-error *ngIf="!formCard.form.valid">El número de estrellas es obligatorio.</mat-error>
            </mat-form-field>
            <div class="mensajeExitoso" *ngIf="cardCreated">
                Tarjeta creada correctamente.
                <span (click)="cardCreated = false">X</span>
            </div>
    
            <div class="row mt-2 mx-1 mx-md-0">
                <div class="col col-12 col-sm-3"></div>
                <button mat-raised-button color="primary" type="submit" class="col col-12 col-sm-6 fs-4 mt-3" style="height: 60px;" [ngClass]="{'buttonDisabled' : !formCard.form.valid}" id="btnCreate">Crear</button>
                <div class="col col-12 col-sm-3"></div>
            </div>
          </form>

          <div class="col col-12 col-sm-3 col-lg-4 d-flex align-items-end">
            <img src="../../../assets/img/card.svg" data-aos="zoom-in-right" data-aos-delay="300"  alt="Ilustración de Registro" class="d-none d-md-block">
          </div>
    </section>

    <div *ngIf="config.userRol != 'ADMIN'">
        <section class="overflow-hidden rounded mx-1 mx-md-5">
            <h1 class="py-4 text-light d-flex justify-content-center position-relative mb-0 px-3" [style]="{'background-color':config.backgroundTitle,'border-bottom':'5px solid '+config.baseColorDark}"><span routerLink="/inicio" [ngClass]="{'span-circle me-2':window_width < 450, 'arrowBack pt-4 ps-3 pt-md-0 ps-md-0 pb-md-4' : window_width > 450}" matTooltip="Volver" role="button">⤶</span> SITIO WEB NO DISPONIBLE</h1>
            <div class="overflow-hidden rounded">
                <div [style]="{'background-color':config.backgroundLightTransparent}" class="d-flex gap-3 flex-column justify-content-center align-items-center py-5 px-3">
                    <h2 class="activeLinkVioletDark">No tienes permisos para acceder a esta página.</h2>
                    <img id="error-404-img" src="../../../assets/img/error_401.svg" data-aos="zoom-out-up" alt="Error 404">
                </div>
            </div>
        </section>
    </div>

</main>